{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto px-4 sm:px-6 lg:px-24 max-w-7xl py-16">
  <article class="prose prose-lg prose-gray max-w-[70ch] mx-auto">
    <h1 class="text-4xl font-bold mb-8">Что такое Useful AI?</h1>
    <p class="lead">
      <span class="font-semibold">Useful AI</span> — это агрегатор, где собраны действительно полезные сервисы, использующие искусственный интеллект. В наше время ИИ-сервисы появляются ежедневно, но далеко не все из них решают реальные проблемы пользователей. Многие инструменты требуют значительного времени на освоение, прежде чем они начнут приносить пользу.
    </p>
    
    <h2 class="text-2xl font-bold mt-12 mb-6">Как устроен сайт?</h2>
    <p>На главной странице вы найдёте подборки:</p>
    <ul class="list-disc pl-6 space-y-2">
      <li><span class="font-semibold">Самых актуальных сервисов:</span> новинки и трендовые инструменты.</li>
      <li><span class="font-semibold">Самых популярных сервисов:</span> инструменты, получившие наибольшее признание сообщества.</li>
    </ul>
    <p class="mt-6">Каждому сервису присваивается категория, позволяющая быстро понять его назначение и тип. Пользователи могут добавить сервис в избраное, что бы не потерять его. Избранные приложения отображаются в личном кабинете. Так же можно оставить комментарии на странице приложения.</p>
    <p class="mt-4">Перед публикацией на платформе я тестирую каждый сервис, стараясь выявить его сильные и слабые стороны. Вы также можете предложить свой сервис, нажав кнопку "Предложить сервис" (внизу страницы).</p>
    
    <h2 class="text-2xl font-bold mt-12 mb-6">О проекте Useful AI</h2>
    <div class="flex flex-col items-start mb-8">
      <div class="w-64 h-64 overflow-hidden rounded-lg shadow-lg">
        <img src="{% static 'img/me.png' %}" alt="Это Я" class="w-full h-full object-cover hover:scale-105 transition-transform duration-300" />
      </div>
    </div>
    <p class="mt-6">Меня зовут Саша, и я создатель проекта Useful AI. Уже несколько лет я увлекаюсь машинным обучением и нейронными сетями. С начала бума больших языковых моделей я внимательно слежу за развитием и появлением новых приложений, использующих искусственный интеллект. Меня увлекает всё, что происходит в этой сфере.</p>
    <p class="mt-4">В последнее время появилось множество ИИ-приложений, и с каждым днём становится всё сложнее определить, какие из них действительно полезны. Я пришёл к выводу, что решить эту проблему можно совместными усилиями, и поэтому создал платформу, где каждый может предложить инструмент, который он использовал, оставить комментарий и проголосовать за понравившийся сервис. Таким образом, каждый сможет не только найти полезный для себя инструмент, но и помочь друзьям, коллегам и даже незнакомым людям в интернете использовать действительно эффективные сервисы, облегчающие жизнь и профессиональную деятельность.</p>
    
    <h2 class="text-2xl font-bold mt-12 mb-6">Планы на будущее</h2>
    <ul class="list-disc pl-6 space-y-2">
      <li>Раздел с актуальными новостями об ИИ.</li>
      <li>Верификация пользователей.</li>
      <li>Расширенный поиск и фильтрация по категориям, стоимости и целевой аудитории.</li>
    </ul>
    <p class="mt-8 text-gray-600">
      Если вы хотите оставить обратную связь или нашли проблему, пожалуйста напишете мне в <a href="https://t.me/bors1n" class="text-blue-600 hover:text-blue-800 transition-colors duration-200">телеграм</a> или <a href="mailto:useful-ai@gmail.ru" class="text-blue-600 hover:text-blue-800 transition-colors duration-200">почту</a>. 
    </p>
  </article>
</div>
{% endblock %} 