{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en" data-theme="light" class="sm:scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="SL7hNZzxnWefhStqAKJiH_xMxf9BMqWJNOE3qboGh4Q" />
    <meta name="yandex-verification" content="d113de3a579d6c57" />
    <meta name="robots" content="index, follow">
    <meta name="description" content="{% block meta_description %}Useful AI — это агрегатор, где собраны действительно полезные сервисы, использующие искусственный интеллект.{% endblock %}">
    <meta property="og:title" content="{% block og_title %}Useful AI{% endblock %}">
    <meta property="og:description" content="{% block og_description %}Useful AI — это агрегатор, где собраны действительно полезные сервисы, использующие искусственный интеллект.{% endblock %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{% block og_image %}{{ request.scheme }}://{{ request.get_host }}{% static 'img/og_image.png' %}{% endblock %}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% block twitter_title %}Useful AI{% endblock %}">
    <meta name="twitter:description" content="{% block twitter_description %}Useful AI — это агрегатор, где собраны действительно полезные сервисы, использующие искусственный интеллект.{% endblock %}">
    <meta name="twitter:image" content="{% block twitter_image %}{{ request.scheme }}://{{ request.get_host }}{% static 'img/og_image.png' %}{% endblock %}">
    <title>{% block head_title %}Useful AI{% endblock %}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/usefulai.css' %}">
    <link rel="stylesheet" href="{% static 'tw/tailwind-input.css' %}">
    <link rel="stylesheet" href="{% static 'custom/custom.css' %}">
</head>
<body class="min-h-screen bg-white flex flex-col">
    {% include 'navbar.html' %}
    <main class="flex-grow" style="background-image: radial-gradient(circle, #e5e7eb 1px, transparent 1px); background-size: 16px 16px;">
        <div class="container mx-auto px-4 sm:px-6 lg:px-12 max-w-7xl">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>