{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en" data-theme="light" class="sm:scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="SL7hNZzxnWefhStqAKJiH_xMxf9BMqWJNOE3qboGh4Q" />
    <meta name="yandex-verification" content="d113de3a579d6c57" />
    <meta name="robots" content="index, follow">
    <title>{% block head_title %}Useful AI Home{% endblock %}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/usefulai.css' %}">
</head>
<body class="min-h-screen bg-white flex flex-col">
    {% include 'navbar.html' %}
    <main class="flex-grow" style="background-image: radial-gradient(circle, #e5e7eb 1px, transparent 1px); background-size: 16px 16px;">
        <div class="container mx-auto px-4 sm:px-6 lg:px-12 max-w-7xl">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>