{% extends 'base.html' %}
{%load static%}

{%block content%}
<!-- Hero Section -->
{% include 'hero.html' %}
{% include 'popular_tools.html' %}
{% include 'new_tools.html' %}
{% endblock %}

{% block og_title %}Useful AI — Главная{% endblock %}
{% block og_description %}Useful AI — это агрегатор, где собраны действительно полезные сервисы, использующие искусственный интеллект.{% endblock %}
{% block twitter_title %}Useful AI — Главная{% endblock %}
{% block twitter_description %}Useful AI — это агрегатор, где собраны действительно полезные сервисы, использующие искусственный интеллект.{% endblock %}