asgiref==3.8.1
Django==3.2.25
django-appconf==1.0.5
django-avatar==8.0.1
dnspython==2.7.0
dotenv==0.9.9
numpy==2.0.2
pillow==11.2.1
python-dotenv==1.1.0
pytz==2025.1
sqlparse==0.5.3
typing_extensions==4.12.2
